---
import MainSocialLink from "./MainSocialLink.astro";
import type { SocialsType } from "../constants.ts";
const { socials, class: classes, ...rest } = Astro.props;

interface Props {
  class: string;
  socials: Readonly<
    {
      name: string;
      url: string;
      type: SocialsType;
    }[]
  >;
}
---

<div class:list={["primary-socials", classes]} {...rest}>
  {
    socials.map((social) => (
      <MainSocialLink
        href={social.url}
        social={social.type}
        name={social.name}
      />
    ))
  }
</div>

<style>
  .primary-socials {
    display: flex;
  }
</style>
