---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  social: keyof typeof socialIcons;
}

const { href, social } = Astro.props;

const socialIcons = {
  apple: "src/assets/socials_icons/dark/apple.svg",
  bluesky: "src/assets/socials_icons/dark/bluesky.svg",
  discord: "src/assets/socials_icons/dark/discord.svg",
  dribble: "src/assets/socials_icons/dark/dribble.svg",
  facebook: "src/assets/socials_icons/dark/facebook.svg",
  figma: "src/assets/socials_icons/dark/figma.svg",
  github: "src/assets/socials_icons/dark/github.svg",
  google: "src/assets/socials_icons/dark/google.svg",
  instagram: "src/assets/socials_icons/dark/instagram.svg",
  linkedin: "src/assets/socials_icons/dark/linkedin.svg",
  medium: "src/assets/socials_icons/dark/medium.svg",
  messenger: "src/assets/socials_icons/dark/messenger.svg",
  pinterest: "src/assets/socials_icons/dark/pinterest.svg",
  reddit: "src/assets/socials_icons/dark/reddit.svg",
  signal: "src/assets/socials_icons/dark/signal.svg",
  snapchat: "src/assets/socials_icons/dark/snapchat.svg",
  spotify: "src/assets/socials_icons/dark/spotify.svg",
  telegram: "src/assets/socials_icons/dark/telegram.svg",
  threads: "src/assets/socials_icons/dark/threads.svg",
  tiktok: "src/assets/socials_icons/dark/tiktok.svg",
  tumblr: "src/assets/socials_icons/dark/tumblr.svg",
  twitch: "src/assets/socials_icons/dark/twitch.svg",
  twitter: "src/assets/socials_icons/dark/twitter.svg",
  vk: "src/assets/socials_icons/dark/vk.svg",
  whatsapp: "src/assets/socials_icons/dark/whatsapp.svg",
  youtube: "src/assets/socials_icons/dark/youtube.svg",
} as const;

const iconUrl = socialIcons[social];
---

<a href={href} class="social" target="_blank" rel="noopener noreferrer">
  <div class="social-icon-container">
    <img src={iconUrl} alt="" class="social-icon" />
  </div>
  <slot />
</a>

<style>
  .social {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    transition:
      background-color 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    color: white;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 4px;
    padding: 1rem 4rem;
    backdrop-filter: blur(var(--background-blur-primary));
    border-radius: 4rem;
    text-align: center;
    text-shadow:
      0px 0px 4px oklch(0 0 0),
      0px 0px 8px oklch(0 0 0);
    box-shadow: 0px 0px 32px -13px oklch(28.2% 0.091 267.935);
  }

  .social:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition:
      background-color 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    transform: scale(1.005);
  }

  .social-icon-container {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
  }

  .social-icon {
    width: 32px;
    height: 32px;
  }

  .social-icon-container::before {
    content: "";
    z-index: -1;
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 48px 12px oklch(28.2% 0.091 267.935);
  }
</style>
