---
import type { HTMLAttributes } from "astro/types";
import Card from "./Card.astro";
import { socialIcons } from "../constants";

interface Props extends HTMLAttributes<"a"> {
  href: string;
  social: keyof typeof socialIcons;
}

const { href, social } = Astro.props;

const iconUrl = socialIcons[social];
---

<a href={href} class="social" target="_blank" rel="noopener noreferrer">
  <Card class="social-card">
    <div class="social-icon-container">
      {iconUrl && <img src={iconUrl} alt="" class="social-icon" />}
    </div>
    <slot />
  </Card>
</a>

<style>
  .social {
    /*box-sizing: content-box;*/
    position: relative;
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
    transition:
      background-color 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
    /*padding-left: 3.5rem;*/
    /*backdrop-filter: blur(var(--background-blur-primary));*/
    border-radius: 1rem;
    flex-grow: 1;
    /*min-height: 3em;*/
    line-height: 1;
    /* height: ; */
    /* height: fit-content;
  }*/

  .social-card {
    width: 100%;
    padding-left: 3.5rem;
  }

  .social:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition:
      background-color 0.2s ease-in-out,
      transform 0.2s ease-in-out;
    transform: scale(1.005);
  }

  .social-icon-container {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
  }

  .social-icon {
    width: 2rem;
    height: 2rem;
  }

  .social-card {
    padding: 1.5rem;
  }

  .social-icon-container::before {
    content: "";
    z-index: -1;
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*box-shadow: 0 0 48px 12px oklch(28.2% 0.091 267.935);*/
  }
</style>
